

#site-header{
  padding:30px 0 15px 0;

  .row-fluid{
    display: table;
    [class*='span'] {
      float:none;
      display: table-cell;
      vertical-align: top;
      margin:auto;
    }
  }
}

#site-title{
    margin:0px;
    padding:0px;
    line-height: inherit;


  a {

    padding:0;
    margin:0;
    &:link, &:visited{
      font-family: $secondary-font;
      font-size: 24px;
      font-weight:500;
      color:#0b1860;    
    }

    &:hover{
      
    }

  }    

}

#super-title {
  font-size: 13px;
  margin:0;
  padding:0;
  a {


    &:link, &:visited{
      color: #868695;
      font-family: $secondary-font, $fallback-fonts;
      font-weight: normal;
      text-transform:uppercase;
      letter-spacing: 1px;
      margin-bottom: 5px;     
    }

    &:hover{
      
    }

  }  
}


#search-container {
  text-align:right;

  #button-container {
    .btn-primary {
      background: #e9e9e9;
    }
  }
}

#site-search {
  margin:0px;
  input{
  //  float:right;
  }
}