
/**
 * Breakpoint definitions
 */
$first: 980px;
$second: 767px;
$third: 500px;



/**
 * Fix the stupid padding on the body at this breakpoint
 */
body {
    @media (max-width: $second) { padding:0px;}
}

/**
 * At 767px the .span* classes display as a blocks. This positions the 
 * icons absolutely on the page.
 */
#uconn-header-container {
    .row-fluid {
        .span4{
            @media (max-width: $second) {
                position: absolute;
                top: 12.5px;
                right: 12.5px;
            }             
        }
      
    }
}

#university-of-connecticut {
    @media (max-width: $third){
        display:none;
    }
}

#site-header{
    div.row-fluid {
        @media (max-width: $third){
            display:block; /* Break the flex-box layout */
        }
    }
}

#site-header #search-container  {
    @media (max-width:$third) { 
        display: block;
        float: none;
        margin: 1.5em 0;
        width: 100%;
        text-align: center;
        @include box-sizing(border-box);

        form {
            margin: 0px;
        }


        input {
            float:none; 
            display:inline-block;
            width:75%;
            margin:0px;
        }   

        button {
            margin:0px;
            display: inline-block;
            width: 20%;
        } 

    }
}
