/* Compass extensions */
@import "compass/css3";

/* Global Configuration/variables */
@import "config";

/* Better flexbox support via https://github.com/timhettler/compass-flexbox */
//@import "flexbox"; 

/* Import the webfonts */
@import "fonts";

/* The blue banner and right-justified icons */
@import "uconn-banner";

/* Title of site and local search box */
@import "site-header";

/* State - Starting to implement SMACSS */
@import "state";


/* IE7 Styles */
@import "ie7";
