#{$namespace} {

    .container {
        width:100%;
        margin: 0px auto;

        box-sizing:border-box;
        padding-left: $edge-padding;
        padding-right: $edge-padding;



        @media (min-width: $extra-large){
            width: $extra-large;
            max-width: $extra-large;
            padding-left: 0;
            padding-right: 0;
        }
    }

    .row-fluid {
      width: 100%;
      display: table;


      /**
       * Child divs are displayed as table cells and aligned middle.
       */
      & > div {
        display: table-cell;
        vertical-align: middle;
        float:none;
        &:first-child {
        }
        &:last-child {
        }
      }

    }



}
