#{$namespace} {
    .row-container {
        width:100%;
        margin: 0px auto;

        box-sizing:border-box;
        padding-left: $edge-padding;
        padding-right: $edge-padding;
    }

    .row-fluid {
        width: 100%;
        display: table;

        /**
        * Child divs are displayed as table cells and aligned middle.
        */
        & > div {
            display: table-cell;
            vertical-align: middle;
            float: none;
        }
    }
}
