#{$namespace} {
    font-size: 16px;
    * {
        line-height: normal;
    }
    .row-container {
        box-sizing:border-box;
        height: 60px;
        margin: 0px auto;
        padding: 14px 16px;
        width:100%;
    }

    .row-fluid {
        width: 100%;
        display: table;

        /**
        * Child divs are displayed as table cells and aligned middle.
        */
        & > div {
            display: table-cell;
            vertical-align: inherit;
            float: none;
            @media screen and (min-width: 50em) {
                vertical-align: middle;
            }
        }
    }
    &.alternative {
        .row-container {
            height: auto;
        }
    }
}
