[submodule "vendor/php-liquid"]
	path = vendor/php-liquid
	url = https://github.com/harrydeluxe/php-liquid.git
[submodule "vendor/banner"]
	path = vendor/banner
	url = https://github.com/uconn/banner.git
