@use "../base/config";

@font-face {
    font-family: config.$uconn-font;
    src: url(config.$font-base-url+'/uconn/uconn.eot');
    src: url(config.$font-base-url+'/uconn/uconn.eot?#iefix') format('embedded-opentype'),
         url(config.$font-base-url+'/uconn/uconn.svg#uconnregular') format('svg'),
         url(config.$font-base-url+'/uconn/uconn.woff') format('woff'),
         url(config.$font-base-url+'/uconn/uconn.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}