<div id="uconn-banner">
  <div id="uconn-header-container">
    <div class="row-container">
      <div class="row-fluid">
        <div id="home-link-container">
          <a id="home-link" href="http://uconn.edu/">
            <span id="wordmark">UCONN</span>
            <span id="university-of-connecticut">UNIVERSITY OF CONNECTICUT</span>
          </a>
        </div>
          <div id="button-container">
            <span>
              <a class="btn" href="http://uconn.edu/search.php" title="Search"><i class="icon-search"></i>
              </a>
            </span>
            <span>
              <a class="btn" href="http://uconn.edu/azindex.php" title="AZ Index"><i class="icon-a-z"></i></a>
            </span>
          </div>
      </div>  
    </div>  
  </div>
{% if site.show_header != false %}
  <div class="row-container" id="site-header">
    <div class="row-fluid">
      <div>
        <p id="super-title"><a href="{{ site.department_url }}">{{ site.department }}</a></p>
        <h1 id="site-title"><a href="/">{{ site.name }}</a></h1>        
      </div>
      <div id="search-container">
        {% if site.search != false %}
          {{ site.search }}
        {% endif %}      
      </div>
    </div>
  </div>
{% endif %}
</div>