  <div id="uconn-header-container">
    <div class="container">
      <div class="row-fluid">
        <div id="home-link-container" class="span8">
          <a id="home-link" href="http://uconn.edu/">
            <span id="wordmark" class="smoothing">UCONN</span>
            <span id="university-of-connecticut" class="smoothing">University of Connecticut</span>
          </a>
        </div>
        <div class="span4">
          <div id="button-container">
            <div class="button-row">
              <div class="button-cell">
                <a class="btn btn-primary" href="http://uconn.edu/search.php"><i class="icon-search"></i></a>
                <a class="btn btn-primary" href="http://uconn.edu/azindex.php"><span class="letter">A</span><span class="dash">-</span><span class="letter">Z</span></a>
              </div>
            </div>
          </div>
        </div>
      </div>  
    </div>  
  </div>
  <div class="container" id="site-header">
    <div class="row-fluid">
      <div class="span9">
        <p id="super-title"><a href="{{ site.department_url }}">{{ site.department }}</a></p>
        <h1 id="site-title"><a href="/">{{ site.name }}</a></h1>        
      </div>
      <div class="span3 search-container">
        <form class="form-search" id="site-search">
          <input type="text" class="input-medium" placeholder="Search this site">
        </form>        

      </div>
    </div>
  </div>