<!DOCTYPE html>
<head>
  <meta charset="utf-8">
  <title>UConn Banner</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="">
  <link href="https://fonts.googleapis.com/css?family=Roboto:400,700|Roboto+Mono&display=swap" rel="stylesheet">
  <link href="/banner.css" rel="stylesheet">
  <link rel="stylesheet" href="/site.css">
  <link rel="stylesheet" href="/css/menu-demo.css">
</head>

<body>
  <header>
    {% if banner == "sc_advanced.html" %}
      {% include sc_advanced.html %}
    {% elsif banner == "sc_basic.html" %}
      {% include sc_basic.html %}
    {% else %}
      {% include basic.html %}
    {% endif %}
    <nav id="{{ config.mobile_menu_id }}">
      <ul>
        <li>This menu is for demo purposes only</li>
        <li>
          <a href="{{ department_url }}">{{ department }}</a>
        </li>
        <li>
          <a href="#">About</a>
        </li>
        <li>
          <a href="#">Contact</a>
        </li>
      </ul>
    </nav>
  </header>
  <main>
    <section class="row intro">
      <div class="container">
        <hr>
        <h1>{{ title }}</h1>
        <p><strong>Hi there!</strong></p>
        <p>This version of the UConn Banner has several different options. You can see different variations by visiting the links below and/or adjusting the forms on each page.</p>
      </div>
    </section>
    
    <section class="row">
      <div class="container">
        <div class="flex">
          <div class="flex-content two-column">
            <h2>Alternative Banners</h2>
            <ul>
              <li><a href="/">Standard Banner</a></li>
              <li><a href="/school-basic">Basic School Banner</a></li>
              <li><a href="/school-advanced">Advanced School Banner</a></li>
            </ul>
          </div>
          <div class="flex-content two-column">
            <h2>Theme Switcher</h2>
            <form id="banner-theme-form">      
              <label for="standard-theme">
                <input type="radio" name="banner-theme" id="standard-theme" value="blue" /> Standard Theme
              </label>   
              <label for="inverted-theme">
                <input type="radio" name="banner-theme" id="inverted-theme" value="white" /> Inverted Theme
              </label>              
            </form>
          </div>
        </div>
      </div>
    </section>

    <section class="row">
      <div class="container">
        <h2>Site Title Tester</h2>
        <p><a href="https://brand.uconn.edu/guidelines-usage/web/#appearance">Check the Brand Guidelines</a> for additional information about site titles.</p>
        <form action="" id="site-title-form">
          {% if hasTitleForm %}
          <div>
            <label for="site-title-input">Adjust the site title in the banner</label>
            <input type="text" name="site-title-input" id="site-title-input" placeholder="Banner Title">
          </div>
          <div>
            <label for="site-abbrev-input">Adjust the site abbreviation</label>
            <input type="text" name="site-abbrev-input" id="site-abbrev-input" placeholder="Abbreviation">
          </div>
          {% endif %}
          <div>
            <label for="level-one-input">Adjust the "level 1" title</label>
            <input type="text" name="level-one-input" id="level-one-input" placeholder="UConn Banner">
          </div>
          <div>
            <label for="level-one-input">Adjust the "level 2" title</label>
            <input type="text" name="level-two-input" id="level-two-input" placeholder="University Communications">
          </div>
          <input type="submit" value="Change Titles">
        </form>
      </div>
    </section>
    <section class="row">
      <div class="container">
        <div class="flex">
          <div class="flex-content two-column">
            <h2>Toggle Site Title Area</h2>
            <form id="site-title-toggle">
              <label for="site-titles-display">
                <input type="radio" name="banner-theme" id="site-titles-display" value="block" /> Show Site Titles
              </label>
              <label for="site-titles-hide">
                <input type="radio" name="banner-theme" id="site-titles-hide" value="none" /> Hide Site Titles
              </label>
            </form>
          </div>
        </div>
      </div>
    </section>
      <!-- Example row of columns -->
      <section class="row">
        <div class="container">
          <div class="flex">
            <div class="flex-content two-column">
              <h2>Media Query Tester</h2>
              <p>This form will help you to build custom breakpoints for your banner.</p>
              <form id="container-width-form" class="form-inline">
                <div class="form-group">
                  <div>
                    <label for="container-width" style="display:block">Enter a breakpoint in pixels</label>
                    <input type="number" class="form-control" id="container-width" placeholder="1200">
                  </div>
                  <input type="submit" name="Test" value="Test it!" class="btn btn-primary">
                </div>
              </form>
            </div>
            <div class="flex-content two-column">
              <h2>Code</h2>
<figure class="highlight">
  <pre><code class="language-html">
    @media(min-width: <span class="data-width"></span>){
      #uconn-banner .row-container {
          max-width: <span class="data-width"></span>
      }
    }</code></pre>
</figure>
            </div>
          </div>
        </div>    
        
      </section>
      <section class="row">
        <div class="container">
          <h2>More Information</h2>
          <ul>
              <li><a href="https://github.com/uconn/banner">Project Source</a></li>
              <li><a href="https://packagist.org/packages/uconn/banner">Using Composer</a></li>
              <li><a href="https://github.com/uconn/banner/wiki/Banner-rendering-with-PHP">Banner rendering with PHP</a></li>
              <li><a href="https://github.com/uconn/uconn-banner-wp">WordPress Plugin</a></li>
          </ul>
        </div>
      </section>
      <section id="download-wrapper" class="row">
        <div class="container">
          <h2>Download Banner Markup</h2>
          <div>
            <button id="download-banner-html" class="download-button" data-element="uconn-banner">Download Banner Markup</button>
          </div>
          <div>
            <button id="download-levels-html" class="download-button" data-element="site-titles">Download Level 1/2 Markup</button>
          </div>
          <div>
            <button id="download-banner-styles" class="download-button">Download Banner Styles</button>
          </div>
          <div>
            <button id="download-banner-script" class="download-button">Download Banner Script</button>
            <p>The <code>banner.js</code> file is only required if you intend to implement a mobile menu. It creates a custom JS event. <a href="https://github.com/uconn/banner#javascript">See the README for details.</a> </p>
          </div>
        </div>
      </section>
      <section id="generator-wrapper" class="row">
        <div class="container">
          <h2>Banner Generator Snippets</h2>
          <p>Prefer to generate the banner yourself? You can use these examples to get started. Consult the <code>--help</code> command for all options.</p>
<figure class="highlight">
  <pre><code class="language-shell">
    # basic banner
    php ./src/Banner/Generator.php --path ./my-uconn-banner.html -m=true
    
    # school/college style banner
    php ./src/Banner/Generator.php --path ./my-uconn-banner.html \
      -v true -s "University Communications" \
      -a "UComm" -u https://communications.uconn.edu

    # advanced school/college style banner
    php ./src/Banner/Generator.php --path ./my-uconn-banner.html \
      -v true -s "University Communications" \
      -a "UComm" -u https://communications.uconn.edu \
      -m=true --a-z-dropdown=true
  </code></pre>
</figure>
        </div>
      </section>
  </main>
<!-- Main jumbotron for a primary marketing message or call to action -->

  <div class="container">
    <hr>
  </div>

  {% include footer.html %}
  <script src="/site.js"></script>
  <script src="/banner.js"></script>
  <script src="/menuDemo.js"></script>
</body>
</html>
