<div class="icon-container" id="icon-container-search">
  <a class="btn" id="uconn-search" href="https://uconn.edu/search">
    <span class="no-css">Search University of Connecticut</span>
    <i class="icon-search" aria-hidden="true"></i>
  </a>
  <!-- Content provided by css -->
  <div id="uconn-search-tooltip"></div>
</div>
<div class="icon-container" id="icon-container-az">
  <a class="btn" id="uconn-az" href="https://uconn.edu/az">
    <span class="no-css">A to Z Index</span>
    <i class="icon-a-z" aria-hidden="true"></i>
  </a>
  <!-- Content provided by css -->
  <div id="uconn-az-tooltip"></div>
</div>