<div id="uconn-banner">
    <div id="uconn-header-container">
      <div class="row-container">
        <div class="row-fluid">
          <div id="home-link-container">
            <a id="home-link" href="https://uconn.edu/">
              <span id="wordmark" aria-hidden="true">UConn</span>
              <span id="university-of-connecticut">
                University of Connecticut
              </span>
            </a>
          </div>
          <div id="button-container">
            {% include icons-standard.html %}
          </div>
        </div>
      </div>
    </div>
</div>