<div class="icon-container" id="icon-container-search">
  <button class="btn" id="uconn-search" href="https://uconn.edu/search">
    <span class="no-css">Search University of Connecticut</span>
    {% include_relative _includes/icons/search-icon.svg %}
  </button>
</div>
<div class="icon-container" id="icon-container-az">
  <button class="btn" id="uconn-az" href="https://uconn.edu/az">
    <span class="no-css">A to Z Index</span>
    {% include_relative _includes/icons/a-z-icon.svg %}
  </button>
</div>