<div class="icon-container" id="icon-container-search">
  <button 
    class="btn" 
    id="uconn-search" 
    href="https://uconn.edu/search"
    aria-haspopup="true"
    aria-controls="search-popup"
    aria-expanded="false"
  >
    <span class="no-css">Search University of Connecticut</span>
    {% include_relative _includes/icons/search-icon.svg %}
  </button>
  <div id="search-popup" class="popup-container">
    <div class="form-wrapper">
      <form action="{{ site.data.config.department_url }}" method="GET" role="search">
        <input type="search" name="s" id="site-search" placeholder="Search this site..."/><button type="submit"><span class="no-css">Search {{ site.config.data.department }}</span>{% include_relative _includes/icons/search-icon.svg %}</button>
      </form>
    </div>
    <hr />
    <div class="search-link-wrapper">
      <a href="https://uconn.edu/search"><span class="banner-search-text">Search Uconn</span> <span class="banner-search-icon">{% include_relative _includes/icons/search-icon.svg  %}</span></a>
    </div>
  </div>
</div>
<div class="icon-container" id="icon-container-az">
  <button 
    class="btn" 
    id="uconn-az" 
    href="https://uconn.edu/az"
    aria-haspopup="true"
    aria-controls="a-z-popup"
    aria-expanded="false"
  >
    <span class="no-css">A to Z Index</span>
    {% include_relative _includes/icons/a-z-icon.svg %}
  </button>
  <div id="a-z-popup" class="popup-container">

  </div>
</div>