<div class="icon-container" id="icon-container-search">
  <button 
    class="btn" 
    id="uconn-search" 
    href="https://uconn.edu/search"
    aria-haspopup="true"
    aria-controls="search-popup"
    aria-expanded="false"
  >
    <span class="no-css">Search University of Connecticut</span>
    {% include_relative _includes/icons/search-icon.svg %}
  </button>
  {% include_relative _includes/popups/search-popup.html %}
</div>

<div class="icon-container" id="icon-container-az">
  {% if site.data.config.a_z_dropdown == true %}
    <button 
      class="btn" 
      id="uconn-az" 
      href="https://uconn.edu/az"
      aria-haspopup="true"
      aria-controls="a-z-popup"
      aria-expanded="false"
    >
      <span class="no-css">A to Z Index</span>
      {% include_relative _includes/icons/a-z-icon.svg %}
    </button>
    {% include_relative _includes/popups/a-z-popup.html %}
  {% else %}
    <a class="btn" id="uconn-az" href="https://uconn.edu/az">
      <span class="no-css">A to Z Index</span>
      {% include_relative _includes/icons/a-z-icon.svg %}
    </a>
  {% endif %}
</div>
{% if site.data.config.use_mobile_menu == true %}
<div class="icon-container" id="icon-container-mobile-menu">
  <button 
    class="btn mobile-menu-btn"
    id="banner-mobile-button"
    aria-haspopup="true"
    aria-controls="{{ site.data.config.mobile_menu_id }}"
    aria-expanded="false"
  >
    {% include_relative _includes/icons/fa-bars.svg %}
    {% include_relative _includes/icons/fa-times.svg %}
    <span class="no-css">Click to <span id="menu-toggle-text">open</span> menu</span>
  </button>
{% endif %}
</div>