/* Base blue color */
$bg-color: #000E2F;

/* Name for the UConn font */
$uconn-font: "UConn";

/* Name for secondary font */
$secondary-font: "Proxima Nova";

/* Fonts to fallback on if webfonts don't load */
$fallback-fonts: Arial, Helvetica, sans-serif;

/* Base URL for the webfonts */
$font-base-url: "//uconn.edu/shared/fonts";

/* Height of the blue banner per web UConn web standards */
$banner-height: 60px;

/* Banner namespace. To avoid conflicts with other CSS frameworks */
$namespace: "#uconn-banner";

/* Button size for Search and A-Z Index */
$btn-size: 32px;

/* Icon font size */
$icon-size: 21px;

/**
 * Edge padding.
 *
 * When the banner goes responsive, we add padding to the page edge so that the logo, buttons,
 * header and search box don't butt up against the edge of the browser. Customize the amount of
 * added padding here
 */
$edge-padding: 1em;


/**
 * Neede for IE
 */
$button-padding: ($banner-height - $btn-size) / 2;
