#{$namespace} {
  #button-container {
    text-align:right;

    & > span {
      width: $btn-size;
      height:$btn-size;
      display: inline-block;
      margin:0px 2px;
      padding:0px;
      vertical-align: middle;
      white-space: nowrap;
    }

    .btn {
      display:block;
      height:100%;
      width:100%;
      font-size: $icon-size;
      text-align: center;
      padding: inherit;
      text-shadow: none;
      line-height: normal;
      vertical-align: auto;

      [class*="icon-"] {
        line-height: $btn-size;
      }

    }
    .btn, .btn:hover, .btn:visited, .btn:focus {
      @include border-radius(3px);
      background-color: #1c3173;
      border: 1px solid #1e2b51;
      @include transition(none);
      background-position: 0% 0%;
    }
    .btn:hover {
      color: #fff;
    }


  }
}
