
#search-container {
  text-align:right;

  #button-container {
    .btn-primary {
      background: #e9e9e9;
    }
  }
/*
  @media (max-width:$small) {
      display: block;
      float: none;
      margin: 1.5em 0;
      width: 100%;
      text-align: center;
      @include box-sizing(border-box);

      form {
          margin: 0px;
      }


      input {
          float:none;
          display:inline-block;
          width:75%;
          margin:0px;
      }

      button {
          margin:0px;
          display: inline-block;
          width: 20%;
      }

  }*/
}

#site-search {
  margin:0px;
}
