#uc-site-title{
    margin:0px !important;
    padding:0px;
    line-height: inherit;
  a {
    margin:0;
    max-width: 100%;
    padding:0;
    text-decoration: none;
    word-wrap: break-word;
    &:link, &:visited{
      color: $bg-color;    
      font-family: $secondary-font;
      font-size: 24px;
    }

  }
    @extend %smoothing;
}



#uc-site-parent {
  font-size: 13px;
  margin:0 !important;
  padding:0;
  a {
    text-decoration: none;
    &:link, &:visited{
      color: $bg-color;
      font-family: $secondary-font, $fallback-fonts;
      font-weight: normal;
      text-transform:uppercase;
      letter-spacing: 1px;
      margin-bottom: 5px;     
    }
  }  
  @extend %smoothing;
}
