%university-styles {
  font-family: $secondary-font,$fallback-fonts;
  color: #9faab2;
  font-size: 18px;
  letter-spacing: .055em;
  word-spacing: .02em;
  font-weight: bold;
  font-style: normal;
  line-height: normal;
  display:none;
  text-transform: uppercase;
}

#wordmark{
  color: #fff;
  font-family: $uconn-font,$fallback-fonts;
  font-size: 32px;
  overflow: hidden;
  letter-spacing: 3px;
  text-transform: uppercase;
  padding:0px 5px 0 0;

  @extend %smoothing;
}

#university-of-connecticut {
  @extend %university-styles;
  border-left: 2px solid #3f4760;
  color: #9faab2;
  padding: 1px 0 0 10px;
  @extend %smoothing;

  @media (min-width: 50em){
      display:inline;
  }

}

#site-abbreviation {
  @extend %university-styles;
  border: 0;
  color: #9faab2;;
  display: block;
  line-height: 0.8;
  padding: 0;
  @media screen and (min-width: 50em) {
    display: none;
  }
}
