
#wordmark{
  color: #fff;
  font-family: $uconn-font,$fallback-fonts;
  font-size: 32px;
  overflow: hidden;
  letter-spacing: 3px;
  text-transform: uppercase;
  padding:0px 5px 0 0;

  @extend %smoothing;
}

#university-of-connecticut {
  font-family: $secondary-font,$fallback-fonts;
  color: #9faab2;
  font-size: 18px;
  letter-spacing: .055em;
  word-spacing: .02em;
  padding: 1px 0 0 10px;
  font-weight: bold;
  font-style: normal;
  border-left: 2px solid #3f4760;
  line-height: normal;
  display:none;

  @extend %smoothing;

  @media (min-width: 50em){
      display:initial;
  }
}
