<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <title>Banner, from UConn</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="">
  
  <!--                                                            
                         ..+                         .:.                        
                       ..+8N+.                      .+$8+.                      
                      .++NNNN+=.                  .,+NNNN++..                   
                      +7NNNNNN?+.               ...+NNNNNNN+.                   
                   ..+NNNN..NNN++.              .,+NNN...NNN+.                  
                 .  +DNN.....NNN+..             .+NNN  ...NNN+.                 
                 ..+DNN ..N7. NNN+.             +NNN. .NN..NNN+.                
                  ++NN..:NNN  .NN?+           .:?NN. .NNNO..NN7+                
                 .+NN~..NNNN . .NN+,~=+++++++~,+NNN   NNNNN. NN=,.              
                .+NNN  NNNNN .  NNNNNNNNNNNNNNNNNN.. .NNNNNN .NN+               
                .+NN..NNNNN.    .NNNNNNNNNNNNNNNNN   ..NNNNN..NN++              
                +NNN.ONNNN,.   . NNNNNNNNNNNNNNNN...   .NNNNN..NN+..            
              .,+NN..NNNNN    . .~NNNNNNNNNNNNNN7...   .=NNNNN.NN+,.            
               +DNN NNNNNN~.   NNNNNNNNNNNNNNNNNNNN    .NNNNNN.,NN+             
               +NN,DNNNNNN  .NNNNNNNNNNNNNNNNNNNNNNNN...NNNNNNN.NN+             
              .+NN.NNNNNNN NNNNNNNNNNNNNNNNNNNNNNNNNNNN..NNNNNNNNN++            
              +NNNNNNNNNNZNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNN+            
             .+NNNNNNNNNNNNNNNNNNNNNNNNNN.NNNNNNNNNNNNNNNNNNNNNNNNN+            
             +NNNNNNNNNNNNNNNNNNNNNNNNNN..NNNNNNNNNNNNNNNNNNNNNNNNNN+           
          ..+NNNNNNNNNNNNNNNNNNNNNNNNNNN..NNNNNNNNNNNNNNNNNNNNNNNNNNN+.         
          .+ZNNNNNNNNNNNNNNNNNNI ,NNNNNN  NNNNNN?..NNNNNNNNNNNNNNNNNNN+         
          .++NNNNNNNNNNNNNNNNNZ..  ~NNNN..ZNNNO.....NNNNNNNNNNNNNNNNN+++        
          .+ZNNNNNNNNNNNNNNNNNZ.   . NNN. .NND    ..NNNNNNNNNNNNNNNNNN+         
        .,+NNNNNNNNNNNNNNNNNN..    . NN=.  NN+      .NNNNNNNNNNNNNNNNNN++       
        ++NNNNNNNNNNNNNNNNN... .   . NN.   NN+        .NNNNNNNNNNNNNNNNNI+      
     . +7NNNNNNND.?NNNNNN .+ZI,N.. ..NN    NND   .N.+$I  ZNNNNND..NNNNNNN7+     
     .+INNNNNNN       NNN..NN?NNN...,NN    NNN  .NNN+NN  DNN.     .=NNNNNNN+.   
     =$NNNNNNNN..     .NN.  NN===N..NNN    ?NN..NN===N.  NN+.    ..NNNNNNNN$+   
     .+NNNNND: ..      +N.  ..NNNNNNNNN    .NNNNNNNN  .  NN..   ....,ZNNNNN+.   
      +$NNNN.          .N     ..NNNNN..     .NNNNN..   . N.           NNNNN+    
       +NNNNN.         . O      NNNZ.       ..:NNN..    . .         .:NNNN+..   
       +NNNNN.                  IN.           ..NN                  .NNNNN+ .   
       .+NNNNN .                ..              .M                  INNNN+,     
       .+7NNNN.                                                   . NNNNN+.     
        .=NNNNN.                                                  ..NNNN+..     
        .+=NNNN                                                   .NNNNO+..     
         .+NNNNN..                      ..                      , NNNNN+.       
         ..+NNNN+N$         N.     . MNN~:MNN.      .O.     .  .N.NNNN?~.       
          .+?NNNNNNO.. N.   .N .   .ONNNNNNNNN      N    .N.. .NNNNNNN+         
           .+NNNNNNN~ ..NI  ..N.    .NNNNNNNNN    .N:  ..NN. .NNNNNNN+          
             +NNNNNNNN  NNN.  .N.  . NNNNNNNN.  ..$N...7NN. .NNNNNNN+:.         
            .=+NINNNNNM..NNN . NN..  .8NNNNN    .8N  .=NN. ZNNNNN+NI=           
              +7++NNNNNN:NNNN. .NN......NN......NNM. 7NNN.NNNNNN++7+..          
              .++.+NNNNNNNNNN8. NNNNNNNNNNNNNNNNNN...NNNNNNNNNN+..+. .          
              .....+NNNNNNNNNN: .NNNNNNNNNNNNNNNNZ  NNNNNNNNNN+. ...            
                   .++NNNNNNNNN..NN~NN77NN77NN~NN..NNNNNNNNN8+ .                
                   ..+?NNNNNNNNO.7N.NNN7777$NN.NN. NNNNNNNN8+.                  
                     .:+NNNNNNNN. N .NNNNNNNN, N..NNNNNNNN++  .,,=..            
                        ++NNNNNNN .N...NNNN...NN.,NNNNNNI+.    . :..            
                         .+?NNNNN...N........NI..NNNNND+.                       
                          ..++NNNN ..NNNNNNNN.  NNNNI+,..                       
                            ..+NNNN  .. ,+..  .NNNN+:..                         
                            . .+NNNNN..     .NNNNN+=.                           
                              .:+NNNNNNNNNNNNNNNN++                             
                                 +8NNNNNNNNNNNNN+...                            
                                  ~+NNNNNNNNNN++.                               
                                   ..++INN$++~                                          
  -->

  <!-- Le styles -->
  <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.no-icons.min.css" rel="stylesheet">
  <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
  <!--[if IE 7]>
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome-ie7.min.css">
  <![endif]-->  
  <link href="banner.css" rel="stylesheet">

  <!-- REPLACE THIS WITH YOUR CUSTOM BUILD OF MODERNIZR -->
  <script src="//ajax.aspnetcdn.com/ajax/modernizr/modernizr-2.0.6-development-only.js"></script>

</head>

<body>
{% include banner.html %}
</body>
</html>
