<!DOCTYPE html>
<head>
  <meta charset="utf-8">
  <title>UConn Banner</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="">
  <link href="https://fonts.googleapis.com/css?family=Roboto|Roboto+Mono&display=swap" rel="stylesheet">
  <link href="banner.css" rel="stylesheet">
  <link rel="stylesheet" href="site.css">
  <link rel="stylesheet" href="css/menu-demo.css">
</head>

<body>
  <header>
    {% include banner.html %}
    <nav id="{{ site.mobile_menu_id }}">
      <ul>
        <li>This menu is for demo purposes only</li>
        <li>
          <a href="{{ site.department_url }}">{{ site.department }}</a>
        </li>
        <li>
          <a href="#">About</a>
        </li>
        <li>
          <a href="#">Contact</a>
        </li>
      </ul>
    </nav>
  </header>
  <main>
    <section class="row intro">
      <div class="container">
        <h1>Hi, there!</h1>
        <p>This version of the UConn Banner has several different options. Use the inputs below to try them out.</p>
      </div>
    </section>
    
    <section class="row">
      <div class="container">
        <div class="flex">
          <div class="flex-content two-column">
            <h2>Alternative Banner Tester</h2>
            <select name="alternative-checker" id="alternative-checker">
              <option value="standard" selected>Standard</option>
              <option value="alternative">Alternative</option>
            </select>
          </div>
          <div class="flex-content two-column">
            <h2>Theme Switcher</h2>
            <select name="theme-switcher" id="theme-switcher">
              <option value="standard" selected>Standard</option>
              <option value="inverted">Inverted</option>
            </select>
          </div>
        </div>
      </div>
    </section>

    <section class="row">
      <div class="container">
        <h2>Site Title Tester</h2>
      </div>
    </section>

      <!-- Example row of columns -->
      <section class="row">
        <div class="container">
          <div class="flex">
            <div class="flex-content two-column">
              <h2>Media Query Tester</h2>
              <p>This form will help you to build custom breakpoints for your banner.</p>
              <form id="container-width-form" class="form-inline">
                <div class="form-group">
                  <label for="container-width" style="display:block">Enter a breakpoint in pixels</label>
                  <input type="number" class="form-control" id="container-width" placeholder="1200">
                  <input type="submit" name="Test" value="Test it!" class="btn btn-primary">
                </div>
              </form>
            </div>
            <div class="flex-content two-column">
              <h2>Code</h2>
<figure class="highlight">
  <pre><code class="language-html">
    @media(min-width: <span class="data-width"></span>){
      #uconn-banner .row-container {
          max-width: <span class="data-width"></span>
      }
    }</code></pre>
</figure>
            </div>
          </div>
        </div>    
        
      </section>
      <section class="row">
        <div class="container">
          <h2>More Information</h2>
          <ul>
              <li><a href="https://github.com/uconn/banner">Project Source</a></li>
              <li><a href="https://packagist.org/packages/uconn/banner">Using Composer</a></li>
              <li><a href="https://github.com/uconn/banner/wiki/Banner-rendering-with-PHP">Banner rendering with PHP</a></li>
              <li><a href="https://github.com/uconn/uconn-banner-wp">WordPress Plugin</a></li>
          </ul>
        </div>
      </section>
  </main>
<!-- Main jumbotron for a primary marketing message or call to action -->

  <div class="container">
    <hr>
  </div>

  <footer>
    <div class="row">
      <div class="container">
        <p>&copy; 2017 <a href="http://communications.uconn.edu/">University Communications</a></p>
      </div>
    </div>
  </footer>
  <script src="js/banner.js"></script>
  <script src="js/menu-demo.js"></script>
  <script src="js/site.js"></script>
</body>
</html>
