footer {
  padding-block: 20px;
  > div {
    margin: 0 auto;
    max-width: var(--container-width);
  }
  ul {
    list-style-type: none;
    padding: 0 16px;
    @media screen and (min-width:760px) {
      display: flex;
      justify-content: space-between;
    }
  }
  li {
    padding: 4px 0;
  }
}