main form {
  label {
    display: block;
  }
  input[type=number],
  input[type=text],
  input[type=submit] {
    font-size: 1rem;
    padding: 0.5rem 1rem;
  }
  * + * {
    margin-top: 0.5rem;
  }
  #site-title-input,
  #level-two-input {
    width: 90%;
  }
}

main {
  div:has(button) + div:has(button) {
    margin-top: 0.5rem;
  }
  button {
    font-size: 1rem;
    padding: 0.5rem 1rem;
  }
}